*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Helvetica', Arial;
}

/*#output {
  background-color: #3B3B3B;
  width: 100%;
  display: block;
  min-height: 30px;
  padding: 10px;
  font-size: 0.8em;
  color: white;
} */
#wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#tap-container{
  display: flex;
  flex-direction:row; // column
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
/*   color: white; */
  cursor: pointer;
}
#lock {
  left:500px;
  font-size: 200%;
}

.tap-area {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 3rem;

  color: white;
  padding: 10px 20px;
  margin: 0 0 7px;
  outline: none;
  position: relative;
  border: 0px;
  width: 100%;
  height: 50%;
  text-align: center;
}
.orange {
  background-color:#80D8FF;
  border-radius:100%;
  width:300px;
  height:300px;
  left: 100px;
}

.seafoam {
  border-radius: 100%;
  width:300px;
  height:300px;
  background-color:#00B0FF;
  left: 100px;

}

.redbubble {
 border-radius: 100%;
  width:300px;
  height:300px;
background: #80D8FF;
left:100px;
}
.form {
 text-align: right;
}
.dragable{
  border-radius: 100%;
  width:300px;
  height:300px;
background: #00B0FF;
left:100px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica", Arial;
  height: 100%;
}

#wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}
#output {
  background-color: #ffffff;
  width: 100%;
  display: block;
  min-height: 30px;
  padding: 10px;
  font-size: 0.8em;
  color: white;  bottom text
}
/*
#description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  color: #777;
  z-index: -1;
  height: 100%;
  width: 100%;
  font-size: 2rem;
  text-align: center;
}

*{
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Helvetica', Arial;
}
#wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
*/
#output {
  background-color: #ffffff;
  width: 100%;
  display: block;
  min-height: 30px;
  padding: 10px;
  font-size: 0.8em;
  color: white;  bottom text
}


/* .tap-area:active {
  margin: 7px 0 0;
  box-shadow: 0 0 #0052E0, 0 0 #2f2f2f, 0 3px 14px #FF3020 inset;
} */
